@use "../../../scss/abstracts/" as *;

// classes

// typograhy
.SoraBold {
   font-family: SoraBold, sans-serif;
}

.RockSalt {
   font-family: RockSalt;
}

.culture-text {
   .caption {
      #craft-caption {
         bottom: 2.25% !important;
         left: 5% !important;
      }

      #quality-caption {
         bottom: 3.25% !important;
         right: 2.5% !important;
      }

      .second-row-caption {
         bottom: 27.25% !important;
         left: 5% !important;
      }

      #beautify-caption {
         bottom: 27.25% !important;
         left: 5% !important;
      }

      .third-row-caption {
         top: 21% !important;
         left: 6% !important;
      }
   }
}

// ids
#fingertips {
   color: $orange;
   transform: rotate(-6.58deg) !important;
}

#text {
   line-height: 2rem;
}