@use "../../../scss/abstracts/" as *;

// classes

// typograhy
.SoraBold {
   font-family: SoraBold, sans-serif;
}

.RockSalt {
   font-family: RockSalt;
}

.culture-text {
   .caption {
      #craft-caption {
         bottom: 2.25%;
         left: 5%;
      }

      #quality-caption {
         bottom: 3.25%;
         right: 2.5%;
      }

      .second-row-caption {
         bottom: 27.25%;
         left: 5%;
      }

      #beautify-caption {
         bottom: 27.25%;
         left: 5%;
      }

      .third-row-caption {
         top: 21%;
         left: 6%;
      }
   }
}

// ids
#fingertips {
   color: $orange;
   transform: rotate(-6.58deg);
}

#text {
   line-height: 2rem;
}