<div class="container-fluid p-lg-5">
  <h1 class="display-5 SoraBold">Dashboard</h1>
  <div class="row row-cols-2 my-4">
    <div class="col-md-6">
      <div class="dashboard-card card shadow py-2">
        <div class="d-flex flex-column text-start align-items-start px-3 mt-3">
          <p class="fs-3 card-title dashboard-card-title m-0">Statistics</p>
          <p class="fs-6 card-title dashboard-card-subheader m-0">This Month</p>
        </div>
        <div class="row row-cols-2 px-3 py-4 gy-2">
          <div class="col">
            <div class="card-body w-100 d-flex align-items-center gap-2">
              <img
                src="../../../../assets/images/admin-images/dashboard/sales-icon.png"
                class="img-fluid"
                alt="N&K Sales icon"
              />
              <div class="d-flex flex-column statistics">
                <p class="display-6 statistics-title m-0">1031</p>
                <p class="text-small statistics-subheader m-0">Total Consultations</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card-body w-100 d-flex align-items-center gap-2">
              <img
                src="../../../../assets/images/admin-images/dashboard/pending icon.png"
                class="img-fluid"
                alt="N&K Pending icon"
              />
              <div class="d-flex flex-column statistics">
                <p class="display-6 statistics-title m-0">121</p>
                <p class="text-small statistics-subheader m-0">Pending Consultations</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card-body w-100 d-flex align-items-center gap-2">
              <img
                src="../../../../assets/images/admin-images/dashboard/unpaid icon.png"
                class="img-fluid"
                alt="N&K Unpaid icon"
              />
              <div class="d-flex flex-column statistics">
                <p class="display-6 statistics-title m-0">2</p>
                <p class="text-small statistics-subheader m-0">Cancelled Consultations</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card-body w-100 d-flex align-items-center gap-2">
              <img
                src="../../../../assets/images/admin-images/dashboard/success icon.png"
                class="img-fluid"
                alt="N&K Success icon"
              />
              <div class="d-flex flex-column statistics">
                <p class="display-6 statistics-title m-0">908</p>
                <p class="text-small statistics-subheader m-0">Successful Consultations</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
