<div class="container-fluid p-lg-5">
  <h1 class="display-5 SoraBold">Dashboard</h1>
  <div class="row row-cols-md-2 row-cols-1 my-4 gy-4">
    <div class="col-md-6 col">
      <div class="dashboard-card card shadow py-2">
        <div class="d-flex flex-column text-start align-items-start px-3 mt-3">
          <p class="fs-3 card-title dashboard-card-title m-0">Statistics</p>
          <p class="fs-6 card-title dashboard-card-subheader m-0">This Month</p>
        </div>
        <div class="row row-cols-2 px-3 py-4 gy-2">
          <div class="col">
            <div class="card-body w-100 d-flex align-items-center gap-2">
              <img
                src="../../../../assets/images/admin-images/dashboard/sales-icon.png"
                class="img-fluid"
                alt="N&K Sales icon"
              />
              <div class="d-flex flex-column statistics">
                <p class="display-6 statistics-title m-0">1031</p>
                <p class="text-small statistics-subheader m-0">Total Consultations</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card-body w-100 d-flex align-items-center gap-2">
              <img
                src="../../../../assets/images/admin-images/dashboard/pending icon.png"
                class="img-fluid"
                alt="N&K Pending icon"
              />
              <div class="d-flex flex-column statistics">
                <p class="display-6 statistics-title m-0">121</p>
                <p class="text-small statistics-subheader m-0">Pending Consultations</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card-body w-100 d-flex align-items-center gap-2">
              <img
                src="../../../../assets/images/admin-images/dashboard/unpaid icon.png"
                class="img-fluid"
                alt="N&K Unpaid icon"
              />
              <div class="d-flex flex-column statistics">
                <p class="display-6 statistics-title m-0">2</p>
                <p class="text-small statistics-subheader m-0">Cancelled Consultations</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card-body w-100 d-flex align-items-center gap-2">
              <img
                src="../../../../assets/images/admin-images/dashboard/success icon.png"
                class="img-fluid"
                alt="N&K Success icon"
              />
              <div class="d-flex flex-column statistics">
                <p class="display-6 statistics-title m-0">908</p>
                <p class="text-small statistics-subheader m-0">Successful Consultations</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col">
      <div class="dashboard-card card shadow py-2">
        <div class="d-flex flex-column text-start align-items-start p-3">
          <p class="fs-3 card-title dashboard-card-title m-0">Earnings</p>
        </div>
        <div class="chart-wrapper px-4">
          <canvas
            height="125"
            baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [type]="barChartType"
            (chartHover)="chartHovered($event)"
          >
          </canvas>
        </div>
      </div>
    </div>
    <div class="col-md-8 col admin-table h-100">
      <table class="table table-responsive table-hover caption-top">
        <caption class="fs-3 admin-table-caption">
          Pending Consultations
        </caption>
        <thead class="admin-table-head table-light">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Property Type</th>
            <th scope="col">Consultation Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pendingConsultation of pendingConsultations">
            <td>{{ pendingConsultation.name }}</td>
            <td>{{ pendingConsultation.email }}</td>
            <td>{{ pendingConsultation.type }}</td>
            <td>{{ pendingConsultation.date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-3 col">
      <div class="card border-0 dashboard-details-container p-3">
        <p class="card-title dashboard-details-title fs-4">Quick Details</p>
        <div class="card-body">
          <div class="row row-cols-1 g-3">
            <div class="col">
              <div class="card dashboard-details-card p-2">
                <p class="fs-4 m-0">Number of Visits</p>
                <p class="fs-4 m-0">11,203</p>
              </div>
            </div>
            <div class="col">
              <div class="card dashboard-details-card p-2">
                <p class="fs-4 m-0">Messages/Inquiries</p>
                <p class="fs-4 m-0">2,131</p>
              </div>
            </div>
            <div class="col">
              <div class="card dashboard-details-card p-2">
                <p class="fs-4 m-0">Pending Payment</p>
                <p class="fs-4 m-0">43</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
