@use "../../scss/abstracts/" as *;

button {
   color: $white !important;
}

.mat-icon-button {
   border-radius: 10% !important;
}

.mat-stroked-button,

.btn {
   background-color: transparent !important;
   border: 4.73847px solid $white !important;
   transition-duration: 500ms;
}

.btn:focus {
   box-shadow: none !important;
}

.mat-stroked-button:hover {
   color: $orange !important;
   border: 4.73847px solid $orange !important;
}

.btn-explore{
   background-color: transparent !important;
   border:1px solid #BCBCBC !important;
   width: 50px !important;
   height: 50px !important;
}

.btn-explore:hover{
   background-color: #FF5E15 !important;
   border:1px solid #FF5E15 !important;
   width: 50px !important;
   height: 50px !important;
}

.btn-navigate{
   background-color: transparent !important;
   border:none solid $white !important;
   width: 50px !important;
}

.btn-navigate:hover{
   background-color: transparent !important;
   border:none solid $white !important;
   width: 50px !important;
}

