 @use "../../scss/abstracts/" as *;

 .form-container {
    background-color: $secondary !important;
 }

 textarea {
    border-radius: 3.53px !important;
    resize: none !important;
 }

 .user-label {
    color: $orange !important;
 }

 .user-input {
    background-color: $primary !important;
    font-family: Inter, sans-serif !important;
    color: $white !important;
 }

 .user-number {
    @extend .user-input;
    color: $white !important;
 }

 .user-textarea {
    border: 3px solid $white !important;
    background-color: transparent !important;
    color: $white !important;
 }

 //  .user-textarea:focus {
 //     background-color: $white !important;
 //  }

 .user-select {
    background-color: $primary !important;
    font-family: Inter, sans-serif !important;
 }

 input,
 select {
    border-radius: 3.53px !important;
    border: 3px solid $white !important;
 }

 input[type=search] {
    border: 1px solid #C6C6C6 !important;
    border-radius: 4px !important;
 }

 input[type=text]:focus,
 input[type=password]:focus,
 input[type=email]:focus {
    background-color: $white !important;
    color: $primary !important;
 }

 ::placeholder,
 select {
    color: $white !important;
    font-size: .9rem !important;
    font-weight: 400 !important;
 }

 .form-check-input[type=radio] {
    border: 1px solid $white;
 }

 .radio-label {
    color: $white !important;
 }

 .admin-input,
 .admin-select {
    background-color: $white !important;
    border: 1px solid $inputBorder !important;
 }

 .admin-select {
    color: $userDetails !important;
 }

 .admin-label {
    font-family: 'Inter Bold', sans-serif;
    color: $adminLabel !important;
 }