@use "../../scss/abstracts/" as *;

// for popup
.popup-border {
    border-radius: 12px !important;
}

.btn-modal {
    border: 4.37461px solid #343434;
    background-color: transparent !important;
    color: #343434 !important;
}