@use "../../scss/abstracts" as *;

mat-sidenav {
   width: 100px;
   background-color: $navbar !important;
   color: $text !important;
}

mat-sidenav-container {
   height: 100vh !important;
}

.side-nav-link:hover {
   color: $hover !important;
}