@use "../../scss/abstracts/" as *;

.navbar {
   background-color: $secondary !important;

   .dropdown-menu {
      background-color: $secondary !important;

      .dropdown-item a {
         color: $white !important;
      }
   }

   .dropdown-item:focus,
   .dropdown-item:hover {
      background-color: $orange !important;
      transition-duration: 300ms;
   }
}

a {
   color: $white !important;
}

.fixed {
   position: sticky;
   width: 100%;
   transition: 400ms linear;
   top: 0;
   z-index: 1000;
}

.nofixed {
   position: static;
   transition: 200ms linear;
   top: -50px;
}