@use "../../scss/abstracts" as *;

mat-sidenav {
   width: 100px;
   background-color: $navbar !important;
   color: $text !important;
}

mat-sidenav-container {
   height: 100vh !important;
}

.nav-link:hover {
   color: $hover !important;
}

// .side {
//    background-color: $navbar !important;
//    color: $text !important;

//    .nav-link:hover {
//       color: $hover !important;
//    }

//    .nav-logo {
//       font-family: RockSalt;
//       transform: rotate(-6.58deg);
//    }

// }

// .navbar-toggler {
//    box-shadow: none !important;
//    border: 0 !important;
// }

// @media (min-width: 768px) {
//    .side {
//       width: 120px;
//       height: 100vh;
//    }
// }