<nav class="navbar navbar-expand-md d-flex flex-md-column px-md-0 px-3">
  <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="d-flex align-items-center justify-content-center mb-3 mb-md-0 nav-logo text-decoration-none py-4">
    <img class="img-fluid" src="../../../assets/images/n&k-icon.png" alt="N&K logo" />
  </a>
  <div class="align-items-start" id="navbarSupportedContent">
    <ul class="navbar-nav d-flex flex-md-column text-center">
      <li class="nav-list-item d-flex align-items-center flex-column justify-content-center mt-4" *ngFor="let item of list">
        <a routerLink="{{ item.routerLink }}" class="nav-link side-nav-link text-decoration-none" aria-current="page">
          <i class="{{ item.icon }}"></i>
          <p>{{ item.name }}</p>
        </a>
      </li>
    </ul>
  </div>
</nav>
