<div class="d-flex flex-column flex-md-row">
  <nav class="navbar navbar-expand-md d-flex flex-md-column side px-md-0 px-3">
    <a href="/" class="d-flex align-items-center justify-content-center mb-3 mb-md-0 nav-logo text-decoration-none py-4">
      <span class="fs-6">N&K</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle Navigation"
    >
      <span class="text-white"><i class="fa-solid fa-bars-staggered"></i></span>
    </button>
    <div class="collapse navbar-collapse align-items-start w-100" id="navbarSupportedContent">
      <ul class="navbar-nav w-100 d-flex flex-md-column text-center">
        <li class="nav-list-item d-flex align-items-center flex-column justify-content-center my-md-4" *ngFor="let item of list">
          <a href="" class="nav-link text-decoration-none" aria-current="page">
            <i class="{{ item.icon }}"></i>
            <p>{{ item.name }}</p>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
