<header class="p-2 ms-lg-5 ms-0">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-start">
      <a href="/" class="d-lg-block d-none d-flex align-items-center me-5 mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="../../../assets/images/nk-logo.png" alt="N&K logo" />
      </a>

      <ul class="nav d-flex flex-row gap-3 col-12 col-lg-auto mb-2 justify-content-evenly mb-md-0">
        <li><a href="#" class="nav-link px-2 text-white">About Us</a></li>
        <li><a href="#" class="nav-link px-2 text-white">N&K Culture</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Services</a></li>
      </ul>
    </div>
  </div>
</header>
