@use "../../../scss/abstracts/" as *;

.form-container {
   background-color: $secondary;
   border-radius: 10px;
}

// for popup
.popup-border {
   border: 4px solid $white !important;
   border-radius: 12px !important;
}