<header class="p-2 ms-lg-5 ms-0 my-5">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-start">
      <a routerLink="/" class="d-lg-block d-none d-flex align-items-center me-5 mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="../../../assets/images/nk-logo.png" alt="N&K logo" />
      </a>
    </div>
  </div>
</header>
<div class="container mx-lg-5">
  <div class="row text-md-start text-center">
    <div class="col-lg col-sm mt-4">
      <h1 class="display-3 text-uppercase SoraBold">
        BOOK A <br />
        CONSULTATION
      </h1>
      <p class="fs-5">We'll never share your information with anyone else</p>
    </div>
  </div>
</div>
<div class="container-fluid px-lg-5">
  <app-consult-forms></app-consult-forms>
</div>
