<div class="container-fluid p-lg-4">
  <h1 class="display-5 SoraBold mb-4">Kitchen Designs</h1>
  <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-4">
    <button class="btn-search me-md-2" type="button" (click)="addDesignDetails()">
      <span><i class="fa-solid fa-circle-plus me-2"></i>Add Design</span>
    </button>
  </div>
  <div class="admin-table h-100 p-2">
    <table class="table table-responsive table-hover caption-top">
      <caption class="fs-3 admin-table-caption">
        Kitchen Designs
      </caption>
      <thead class="admin-table-head table-light">
        <tr>
          <th scope="col">Image</th>
          <th scope="col">Description</th>
          <th scope="col">Dimensions</th>
          <th scope="col">Price</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let kitchenDesign of kitchenDesigns">
          <td><img [src]="kitchenDesign.image" height="30px" alt=""></td>
          <td>{{ kitchenDesign.description }}</td>
          <td>{{ kitchenDesign.dimensions }}</td>
          <td>{{ kitchenDesign.price }}</td>
          <td>
            <div class="d-grid gap-2 d-md-block">
              <button
                class="btn-action btn-primary me-2 py-1 px-3"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
                (click)="updateDesignDetails()"
              >
                <span> <i class="fa-solid fa-eye"></i> View</span>
              </button>
              <button class="btn-action btn-primary py-1 px-3 me-2" type="button" (click)="updateDesignDetails()">
                <span>
                  <i class="fa-solid fa-trash-can"></i>
                  Edit
                </span>
              </button>
              <button class="btn-action btn-primary py-1 px-3" type="button" (click)="deleteDesignDetails()">
                <span>
                  <i class="fa-solid fa-trash-can"></i>
                  Delete
                </span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
