@font-face {
   font-family: RockSalt;
   src: url("../../assets/fonts/RockSalt-Regular.ttf");
}

@font-face {
   font-family: Sora;
   src: url("../../assets/fonts/Sora-Regular.ttf");
}

@font-face {
   font-family: SoraBold;
   src: url("../../assets/fonts/Sora-Bold.ttf");
}

@font-face {
   font-family: Inter;
   src: url("../../assets/fonts/Inter-Regular.ttf");
}

@font-face {
   font-family: Barlow Regular;
   src: url("../../assets/fonts/BarlowSemiCondensed-Regular.ttf");
}

@font-face {
   font-family: BarlowBold;
   src: url("../../assets/fonts/BarlowSemiCondensed-Bold.ttf");
}

@font-face {
   font-family: BarlowExtraBold;
   src: url("../../assets/fonts/BarlowSemiCondensed-ExtraBold.ttf");
}