<app-explore-header></app-explore-header>
<!-- N and kitchen Design --------------------------------------------------------------------------------- -->
<section class="container-fluid px-lg-5 px-3 my-5">
    <h2 class="display-6 SoraBold">Space-saving Designs</h2>
</section>

<section class="image-grid">
  <div class="container-fluid px-lg-5 px-3 my-5">
    <div class="row gy-4">
      <div class="col-12 col-sm-6 col-md-4">
        <figure>
          <a class="d-block" href="">
            <div id="img_container">
            <img width="1920" height="1280" src="../../../assets/images/explore_main-images/explorekitchen/Kitchen (10).jpg" class="img-fluid rounded" alt="k1" data-caption="k1">
            <button class="button heart fa fa-heart-o"></button>
            </div>
          </a>
          <p class="mt-1 m-0" id="text">Spring inspired Space</p>
          <p class="fs-0 fw-normal" id="size">18x21</p>
        </figure>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <figure>
          <a class="d-block" href="">
            <div id="img_container">
            <img width="1920" height="1280" src="../../../assets/images/explore_main-images/explorekitchen/Kitchen (2).jpg" class="img-fluid rounded" alt="k2" data-caption="k2">
            <button class="button heart fa fa-heart-o"></button>
            </div>
          </a>
          <p class="mt-1 m-0" id="text">Spring inspired Space</p>
          <p class="fs-0 fw-normal" id="size">18x21</p>
        </figure>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <figure>
          <a class="d-block" href="">
            <div id="img_container">
            <img width="1920" height="1280" src="../../../assets/images/explore_main-images/explorekitchen/Kitchen (3).jpg" class="img-fluid rounded" alt="k3" data-caption="k3">
            <button class="button heart fa fa-heart-o"></button>
            </div>
          </a>
          <p class="mt-1 m-0" id="text">Spring inspired Space</p>
          <p class="fs-0 fw-normal" id="size">18x21</p>
        </figure>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <figure>
          <a class="d-block" href="">
            <div id="img_container">
            <div id="img_container"></div>
            <img width="1920" height="1280" src="../../../assets/images/explore_main-images/explorekitchen/Kitchen (4).jpg" class="img-fluid rounded" alt="k4" data-caption="k4">
            <button class="button heart fa fa-heart-o"></button>
            </div>
          </a>
          <p class="mt-1 m-0" id="text">Spring inspired Space</p>
          <p class="fs-0 fw-normal" id="size">18x21</p>
        </figure>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <figure>
          <a class="d-block" href="">
            <div id="img_container">
            <img width="1920" height="1280" src="../../../assets/images/explore_main-images/explorekitchen/Kitchen (5).jpg" class="img-fluid rounded" alt="k5" data-caption="k5">
            <button class="button heart fa fa-heart-o"></button>
            </div>
          </a>
          <p class="mt-1 m-0" id="text">Spring inspired Space</p>
          <p class="fs-0 fw-normal" id="size">18x21</p>
        </figure>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <figure>
          <a class="d-block" href="">
            <div id="img_container">
            <img width="1920" height="1280" src="../../../assets/images/explore_main-images/explorekitchen/Kitchen (6).jpg" class="img-fluid rounded" alt="k6" data-caption="k6">
            <button class="button heart fa fa-heart-o"></button>
            </div>
          </a>
          <p class="mt-1 m-0" id="text">Spring inspired Space</p>
          <p class="fs-0 fw-normal" id="size">18x21</p>
        </figure>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <figure>
          <a class="d-block" href="">
            <div id="img_container">
            <img width="1920" height="1280" src="../../../assets/images/explore_main-images/explorekitchen/Kitchen (7).jpg" class="img-fluid rounded" alt="k7" data-caption="k7">
            <button class="button heart fa fa-heart-o"></button>
            </div>
          </a>
          <p class="mt-1 m-0" id="text">Spring inspired Space</p>
          <p class="fs-0 fw-normal" id="size">18x21</p>
        </figure>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <figure>
          <a class="d-block" href="">
            <div id="img_container">
            <img width="1920" height="1280" src="../../../assets/images/explore_main-images/explorekitchen/Kitchen (11).jpg" class="img-fluid rounded" alt="k8" data-caption="k8">
            <button class="button heart fa fa-heart-o"></button>
            </div>
          </a>
          <p class="mt-1 m-0" id="text">Spring inspired Space</p>
          <p class="fs-0 fw-normal" id="size">18x21</p>
        </figure>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <figure>
          <a class="d-block" href="">
            <div id="img_container">
            <img width="1920" height="1280" src="../../../assets/images/explore_main-images/explorekitchen/Kitchen (12).jpg" class="img-fluid rounded" alt="k9" data-caption="k9">
            <button class="button heart fa fa-heart-o"></button>
            </div>
          </a> 
          <p class="mt-1 m-0" id="text">Spring inspired Space</p>
          <p class="fs-0 fw-normal" id="size">18x21</p>
        </figure>
      </div>
    </div>
  </div>
</section>


<div class="container-fluid d-flex justify-content-center align-items-center mb-5">
    <a href="#" class="btn-navigate btn-link " style="text-decoration: none">Prev</a> 
    <div class="btn-group" role="group" aria-label="Button group example">
    <button type="button" class="btn-explore btn-lg rounded m-2 ">1 </button>
    <button type="button" class="btn-explore btn-lg rounded m-2 ">2</button>
    <button type="button" class="btn-explore btn-lg rounded m-2 ">3</button>
    <button type="button" class="btn-explore btn-lg rounded m-2 ">4</button>
    <button type="button" class="btn-explore btn-lg rounded m-2 ">5</button>
    </div>
    <a href="#" class="btn-navigate btn-link m-2" style="text-decoration: none">Next</a> 
</div>
