@use "../../scss/abstracts/" as *;

// classes
.SoraBold {
   font-family: SoraBold, sans-serif;
}

.RockSalt {
   font-family: RockSalt;
}

// ids
#fingertips {
   color: $orange;
   transform: rotate(-6.58deg) !important;
}

#text {
   line-height: 2rem;
}

// Media queries
@media (min-width: 500px) and (max-width: 767.98px) {
   #fingertips {
      transform: rotate(0deg) !important;
   }

   #home-3 {
      width: 451px !important;
      height: 561px !important;
   }
}

@media (min-width: 768px) {
   .col-md-8 {
      width: 64% !important;
   }

}