<div class="container-fluid p-lg-4">
  <h1 class="display-5 SoraBold mb-4">Add a Design</h1>
  <form class="mt-4" [formGroup]="addImage" (ngSubmit)="createDesignDetails()">
    <label class="col-sm-2 col-md col admin-label col-form-label">Design Photo:</label>
    <input class="form-control" (change)="onChange($event)" type="file" formControlName="image" id="formFile" />
    <span class="text-danger" *ngIf="addImage.controls['image'].dirty && addImage.hasError('required', 'image')">Image is Required.</span>
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label admin-label">Design Name:</label>
      <div class="col-sm-5 col">
        <input type="text" class="form-control admin-input" formControlName="description" />
        <span class="text-danger" *ngIf="addImage.controls['description'].dirty && addImage.hasError('required', 'description')">Design Name is Required.</span>
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label admin-label">Dimension:</label>
      <div class="col-sm-5 col">
        <input type="text" class="form-control admin-input" formControlName="dimensions" />
        <span class="text-danger" *ngIf="addImage.controls['dimensions'].dirty && addImage.hasError('required', 'dimensions')">Dimension is Required.</span>
      </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
      <button class="btn-cancel me-md-2 btn-cancel text-uppercase px-3 py-2" type="button">CANCEL</button>
      <button class="btn-create text-uppercase px-3 py-2" type="submit" [disabled]="!addImage.valid">ADD IMAGE</button>
    </div>
  </form>
</div>
