<mat-nav-list>
  <a [routerLink]="['/admin/dashboard']" routerLinkActive="router-link-active" mat-list-item>
    <i class="fa-solid fa-gauge pe-2"></i>
    Dashboard
  </a>
  <a [routerLink]="['/admin/consultancies']" mat-list-item
    ><i class="fa-solid fa-calendar-check pe-2"></i>Consultancies</a
  >
  <a [routerLink]="['/admin/contact']" mat-list-item><i class="fa-solid fa-address-card pe-2"></i>Contact Us</a>
  <a mat-list-item><i class="fa-solid fa-square-poll-vertical pe-2"></i>Designs</a>
  <div class="mx-auto">
    <ul class="text-small">
      <li><a [routerLink]="['/admin/kitchen']" mat-list-item>Kitchen</a></li>
      <li><a [routerLink]="['/admin/bedroom']" mat-list-item>Bedroom</a></li>
      <li><a [routerLink]="['/admin/living-room']" mat-list-item>Living Room</a></li>
      <li><a [routerLink]="['/admin/bathroom']" mat-list-item>Bathroom</a></li>
      <li><a [routerLink]="['/admin/space-saving']" mat-list-item>Space Saving</a></li>
      <li><a [routerLink]="['/admin/home-office']" mat-list-item>Home Office</a></li>
    </ul>
  </div>
  <a mat-list-item><i class="fa-solid fa-gear pe-2"></i> Settings</a>
  <div class="mx-auto">
    <ul class="text-small">
      <li><a [routerLink]="['/admin/management']" mat-list-item>User Management</a></li>
    </ul>
  </div>
</mat-nav-list>
