$primary: #1a1a1a;
$secondary: #111111;
$white: #ffffff;
$orange: #ff5e15;
$admin: #222222;
$subheader: #747474;
$statsTitle: #ababab;
$tableHead: #f5f5f5;
$cancelBtn: #f5f5f5;
$tableData: #091e42;
$tableBGButton: #eaeaea;
$tableColorButton: #343434;
$inputBorder: #b1c2de;
$adminLabel: #343434;
$userActionBorder: #e2e8f0;
$userActionColor: #717d92;

.white {
  color: $white !important;
}

.orange {
  color: $orange !important;
}
