$primary: #1A1A1A;
$secondary: #111111;
$white: #FFFFFF;
$orange: #FF5E15;
$admin: #222222;
$subheader: #747474;
$statsTitle: #ABABAB;
$tableHead: #F5F5F5;
$tableData: #091E42;

.white {
   color: $white !important;
}

.orange {
   color: $orange !important;
}