<!-- <div class="container-fluid p-0 m-0">
  <div class="row h-100 p-0 m-0">
    <div class="col p-0">
      <img src="../../assets/images/admin-images/admin-login.png" alt="N&K Admin Image" />
    </div>
    <div class="col p-0 d-flex flex-column justify-content-center align-content-center">
      <div class="RockSalt" id="NK-Login">
        <h1 class="display-3 text-center mb-5">
          Nibs &amp; <br />
          Knobs
        </h1>
      </div>
      <div class="text-center">
        <h5 class="text-uppercase SoraBold">YOUR PERFECT HOME</h5>
        <h5>Right at your <span class="RockSalt text-uppercase d-inline-block mt-lg-0 mt-4" id="fingertips">fingertips</span></h5>
      </div>
      <form class="px-4">
        <div class="mb-3">
          <label class="form-label">Username</label>
          <input type="text" class="form-control" />
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input type="password" class="form-control" />
        </div>
        <div class="d-grid gap-2">
          <button class="btn rounded-pill mt-3 px-md-5 px-4 py-1 text-uppercase" mat-stroked-button type="button" (click)="btnLogin()">LOGIN</button>
        </div>
      </form>
    </div>
  </div>
</div> -->
<router-outlet></router-outlet>
