<!-- header for home -->
<app-home-header></app-home-header>
<div class="container mx-lg-5">
  <div class="row text-md-start text-center flex-column">
    <div class="col-lg col-sm mt-4">
      <h1 class="display-5 text-uppercase SoraBold">YOUR PERFECT HOME</h1>
      <h1 class="display-5">Right at your <span class="RockSalt text-uppercase d-inline-block mt-lg-0 mt-4" id="fingertips">fingertips</span></h1>
      <a class="mt-4 rounded-pill px-md-5 px-4 py-1 text-uppercase" mat-stroked-button routerLink="/home">book a consultancy</a>
    </div>
  </div>
</div>
<!-- about us section -->
<div id="about"></div>
<section class="container-fluid px-lg-5 px-3 my-5">
  <div class="row">
    <div class="col col-lg-4 w-lg-50">
      <div class="d-flex flex-column align-items-start flex-shrink-1">
        <h2 class="display-6 SoraBold">What's about us?</h2>
        <p class="fs-6 fw-normal" id="text">
          "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        </p>
        <a class="mb-4 rounded-pill px-md-5 px-4 py-1 text-uppercase mx-md-0 mx-auto d-block" mat-stroked-button routerLink="/home">check our services</a>
      </div>
    </div>
    <div class="col-md-auto col-sm my-xxl-0 my-lg-5 my-2">
      <div class="d-flex flex-column flex-md-grow-1 flex-grow-0 gap-3 justify-content-md-center mx-auto d-block">
        <img class="img-fluid" src="../../../assets/images/home-images/home-1.png" alt="N&K chairs" />
        <img class="img-fluid" src="../../../assets/images/home-images/home-2.png" alt="N&K Sofa Set" />
      </div>
    </div>
    <div class="col col-lg-3 my-xxl-0 my-lg-5 my-md-5 my-2"><img id="home-3" src="../../../assets/images/home-images/home-3.png" alt="" /></div>
  </div>
</section>
<!-- N&K Culture -->
<div id="culture"></div>
<section class="container-fluid px-lg-5 my-lg-5 my-3">
  <h1 class="display-5 text-lg-start text-center SoraBold">The Nibs &amp; Knobs Culture</h1>
  <!-- first row -->
  <div class="row g-0 mt-4 mb-3 p-0">
    <div class="col-md-8 ps-lg-2 ps-md-2 ps-0 mb-md-0 mb-3 culture-text position-relative">
      <img src="../../../assets/images/home-images/culture-section/culture-1.png" alt="" class="w-100 h-100" />
      <div class="d-flex flex-column gap-1 RockSalt caption overflow-hidden">
        <p class="fs-2 me-lg-0 me-md-3 me-0 position-absolute" id="craft-caption">
          we source furniture <br />
          from the finest craftsmen
        </p>
      </div>
    </div>
    <div class="col-12 col-md-4 ps-lg-3 ps-md-3 ps-0 culture-text position-relative">
      <img src="../../../assets/images/home-images/culture-section/culture-2.png" alt="" class="w-100 h-100" />
      <div class="d-flex flex-column gap-1 RockSalt caption overflow-hidden text-md-end text-start">
        <p class="fs-2 ms-lg-3 ms-md-0 ms-0 position-absolute" id="quality-caption">
          quality is the <br />
          aesthetic
        </p>
      </div>
    </div>
  </div>
  <!-- second row -->
  <div class="row g-0 mb-3 p-0">
    <div class="col-sm ps-md-2 pb-md-0 pb-3 culture-text position-relative">
      <img src="../../../assets/images/home-images/culture-section/culture-3.png" alt="" class="img-fluid w-100 h-100" />
      <div class="d-flex flex-column gap-1 caption overflow-hidden">
        <p class="fs-2 lh-sm ms-lg-3 ms-md-0 ms-0 position-absolute text-uppercase text-start second-row-caption">
          <span class="SoraBold">consult</span>
          <br />
          <span class="SoraBold">your designs</span>
          <br />
          easily
        </p>
      </div>
    </div>
    <div class="col-sm px-md-2 pb-md-0 pb-3 px-md-2 culture-text position-relative">
      <img src="../../../assets/images/home-images/culture-section/culture-4.png" alt="" class="img-fluid w-100 h-100" />
      <div class="d-flex flex-column gap-1 caption overflow-hidden">
        <p class="fs-2 lh-sm ms-lg-3 ms-md-0 ms-0 position-absolute text-uppercase text-start second-row-caption">
          <span class="SoraBold">know</span>
          <br />
          <span class="SoraBold">your space</span>
          <br />
          <span>with us</span>
        </p>
      </div>
    </div>
    <div class="col-sm pe-md-0 pb-md-0 pb-3 culture-text position-relative">
      <img src="../../../assets/images/home-images/culture-section/culture-5.png" alt="" class="img-fluid w-100 h-100" />
      <div class="d-flex flex-column gap-1 caption overflow-hidden">
        <p class="fs-2 lh-sm ms-lg-3 ms-md-0 ms-0 position-absolute text-uppercase text-start second-row-caption">
          <span class="SoraBold">big? small?</span>
          <br />
          <span>beautify your</span>
          <br />
          <span>home</span>
        </p>
      </div>
    </div>
  </div>
  <!-- third row -->
  <div class="row g-0 p-0">
    <div class="col-12 col-md-4 ps-md-2 ps-0 mb-md-0 mb-3">
      <img src="../../../assets/images/home-images/culture-section/culture-6.png" alt="" class="w-100 h-100" />
    </div>
    <div class="col-md-8 ps-md-3 ps-0">
      <img src="../../../assets/images/home-images/culture-section/culture-7.png" alt="" class="w-100 h-100" />
    </div>
  </div>
</section>
