<app-home-header></app-home-header>
<div class="container ms-lg-5">
  <div class="row text-md-start text-center flex-column">
    <div class="col-lg col-sm mt-4">
      <h1 class="display-5 text-uppercase SoraBold">YOUR PERFECT HOME</h1>
      <h1 class="display-5">Right at your <span class="RockSalt text-uppercase d-inline-block mt-lg-0 mt-4" id="fingertips">fingertips</span></h1>
      <a class="mt-4 rounded-pill px-md-5 px-4 py-1 text-uppercase" mat-stroked-button routerLink="/home">book a consultancy</a>
    </div>
  </div>
</div>
