@use "../../../scss/abstracts/" as *;

// .containers {
//   width: 100%;
//   margin: 0 auto;
// }

// .container-fluid img {
//   transition: all 0.3s ease;
// }

.gallery {

  .owl-next,
  .owl-prev {
    background-color: $orange !important;
    color: $white !important;
    width: 54.81px !important;
    height: 54.81px !important;
    border-radius: 50% !important;
    position: absolute;
    top: 34%;
  }

  .owl-next {
    right: -80px;
  }

  .owl-prev {
    left: -80px
  }

  .owl-next svg,
  .owl-prev svg {
    font-size: 30px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}