@use "../../../scss/abstracts/" as *;

.containers {
  width: 100%;
  margin: 0 auto;
}

.container-fluid img {
  transition: all 0.3s ease;
}

.partner {
  padding: 0 4%;
}
.partner img {
  width: 300px;
  height: 300px;
  padding: -3%;
}
.partner p {
  //   position: absolute;
  //   margin-top: 3px;
  width: 345px;
  height: 27px;
  left: 75px;
  top: 552px;

  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 112%;
  /* identical to box height, or 27px */

  display: flex;
  align-items: center;

  color: #ffffff;
}

#textbrowser {
  font-size: 2em;
}
.partner .owl-prev,
.partner .owl-next {
  text-align: center;
  position: absolute;
  top: 29%;
  font-size: 2rem !important;
  background-color: $orange !important;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-weight: 800;
  border-radius: 100% !important;
}

.partner .owl-prev {
  left: -70px;
}

.partner .owl-next {
  right: -70px;
}
