@use "../../../scss/abstracts/" as *;

.admin-body {
   background-color: $white !important;
   color: $admin !important;
}

::placeholder {
   color: #717171 !important;
}

.admin-dropdown-menu {
   .dropdown-item {
      color: $admin !important;
   }

}