@use "./scss/abstracts/" as *;
@use "./scss/components/" as *;
@use "./scss/base/" as *;

body {
   overflow-x: hidden !important;
   background-color: $primary !important;
   font-family: "Sora", sans-serif !important;
   color: $text !important;
}

a {
   color: $text !important;
}

main {
   width: 100%;
   z-index: 1;
}

.display-area {
   position: absolute;
   left: 200px;
   width: calc(100% - 250px);
}