<div class="container-fluid p-5">
    <h1 class="display-5 SoraBold">View Consultations</h1>
    <div class="row mt-5">
        <div class="col-md-6">
            <form>
                <div class="row mb-3">
                    <label  class="col-sm-2 col-md col-form-label view-label">Name:</label>
                    <div class="col-sm-9 col">
                      <input type="text" class="form-control view-input">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label  class="col-sm-2 col-md col-form-label view-label">Email:</label>
                    <div class="col-sm-9 col">
                      <input type="email" class="form-control view-input">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label  class="col-sm-3 col-md col-form-label view-label">Company:</label>
                    <div class="col-sm-9 col">
                      <input type="text" class="form-control view-input">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label  class="col-sm-3 col-md col-form-label view-label">Subject:</label>
                    <div class="col-sm-9 col">
                      <input type="text" class="form-control view-input">
                    </div>
                  </div>
            </form>
        </div>
        <div class="col-md-6">
            <form>
                <div class="row mb-3">
                    <label for="" class="col-sm-3 col-md col-form-label view-label">Message:</label>
                    <div class="col-sm-9">
                        <textarea class="view-input" cols="50" rows="10"></textarea>
                    </div>
                </div>
            </form>     
        </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
        <button class="btn-cancel me-md-2 btn-cancel text-uppercase px-3 py-2" type="button">CANCEL</button>
        <button class="btn-create text-uppercase px-3 py-2" type="button">CREATE EMAIL</button>
      </div>
</div>

