<mat-toolbar class="py-3 px-1">
  <mat-toolbar-row class="justify-content-between align-items-center">
    <button class="btn-toggle" (click)="toggleSidebar()"><i class="fa-solid fa-bars fs-4"></i></button>
    <div class="dropdown d-flex gap-3">
      <strong>user</strong>
      <a
        href="#"
        class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img src="../../../../assets/images/admin-images/user.png" alt="" class="rounded-circle" />
      </a>

      <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item admin-user" href="#">Logout</a></li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
